name: CI

on:
  push:
    branches: [main, develop]
    tags:
      - "v*"
  pull_request:
    branches: [main, develop]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: nuniesmith/fks_actions/.github/workflows/ci-rust-service.yml@main
    with:
      service_name: main
      service_port: '8004'
      rust_toolchain: 'stable'
      needs_openssl: true
      dockerfile_path: './docker/Dockerfile'
      healthcheck_enabled: false
    secrets:
      docker_token: ${{ secrets.DOCKER_TOKEN }}
